<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title === 'undefined' ? 'Node-App-Structure' : title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/articles">Articles</a>
      <a href="/about">About</a>
    </nav>
