<% include ../layouts/header %>

<h1>Articles</h1>

<ul>
  <% articles.forEach((article) => { %>
    <li>
      <%= !article.published ? '(Draft) ' : '' %>
      <a href="/articles/<%= article.id %>"><%= article.title %></a>
      <small><%= article.createdAt.toDateString() %></small>
    </li>
  <% }); %>
</ul>
<a href='/articles/create'>Create new article</a>

<% include ../layouts/footer %>