<% include ../layouts/header %>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<!-- Error stack is for debugging. Don't show in production -->
<pre><%= error.stack %></pre>

<% include ../layouts/footer %>